@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");
/* Constant styles  */
$mainColor: #ff8f00;
$secondColor: #0039b5;
// $thirdColor: #252C30;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  font-family: "El Messiri", sans-serif;
  direction: rtl;
}

body {
  font-family: "El Messiri", sans-serif;
  line-height: normal !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* // Constant Styles */

ul {
  margin-bottom: 0;
}

.form-control {
  border-radius: 7px;
  background-color: rgba(245, 247, 250, 0.386);

  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

p {
  font-size: 1.1rem;
  color: #000;
}

/* Main Style */

.btn-style {
  background-color: $mainColor;
  padding: 21px 35px;
  color: #fff;
  font-size: 1.1rem;
  display: inline-block;
  text-align: center;
  border: 1px solid $mainColor;
  border-radius: 10px;

  &:hover {
    color: $mainColor;
    background-color: #fff;
    border-color: #fff;
    border-color: $mainColor;
  }
}

.btn-style-rounded {
  background-color: $mainColor;
  padding: 18px 47px;
  color: #fff;
  font-size: 1.1rem;
  display: inline-block;
  border-radius: 35px;
  text-align: center;
  border: 1px solid $mainColor;

  &:hover {
    color: $mainColor;
    background-color: #fff;
    border-color: #fff;
  }
}

.card-img {
  height: 100vh;
  position: relative;

  .img-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.section_header {
  margin: 20px 0;

  h5 {
    font-size: 2rem;
    // font-family: bills;
  }
}

/* menu icon */
.menu_icon {
  // width: 40px;
  // position: absolute;
  // top: 5px;
  // transform: translate(0, -50%);
  right: 0;
  width: 45px;
  height: 45px;
  background-color: $mainColor;
  border-radius: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
  // z-index: 9;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 9;
  display: none;
  align-items: center;
  /* Icon 1 */

  #nav-icon1,
  #nav-icon2,
  #nav-icon3,
  #nav-icon4 {
    width: 1.6rem;
    height: 0.7rem;
    position: relative;
    // margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span,
  #nav-icon3 span,
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 0.2rem;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.45s ease-in-out;
    -moz-transition: 0.45s ease-in-out;
    -o-transition: 0.45s ease-in-out;
    transition: 0.45s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 8px;
    // width: 1.8rem;
    left: unset;
    right: 0;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 5px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 100%;
  }

  #nav-icon1.open span:nth-child(2) {
    top: 5.5px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

.side-active {
  height: 100vh;
  overflow: hidden;

  .bg-side-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 4;
  }
}

/* side_nav */
.side-nav {
  width: 100%;
  min-height: 100vh;

  background-color: #fff;
  // width: 30%;
  width: 300px;
  max-width: 100%;
  margin: auto;
  position: fixed;
  // top: 0;
  box-shadow: 0 7px 19px rgba(0, 0, 0, 0.13);
  top: 0;
  right: 0;
  z-index: 99;
  padding-top: 100px;
  // display: flex;
  // align-items: center;
  // opacity: 0;
  // visibility: hidden;
  // z-index: -1;
  right: -100%;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  overflow: auto;

  .side-wrapper {
    height: 50vh;
    // margin-top: 90px;
  }

  .close-nav {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .logo {
    text-align: center;
    margin-bottom: 30px;
  }

  .side-links {
    // height: 100%;
    overflow: auto;
    margin-top: 10px;

    ul {
      height: 100%;

      li {
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;

        a {
          color: #000;
          display: block;
          padding: 10px 5px;
          font-size: 1rem;
        }

        &.active {
          background-color: $mainColor;

          a {
            color: #fff;
          }
        }
      }

      .login-item {
        a {
          background-color: transparent;
          border: 1px solid #000;
          border-radius: 20px;
          text-align: center;
        }
      }

      .signup-item {
        a {
          background-color: #fff;
          border-radius: 20px;
          text-align: center;
          color: $mainColor;
        }
      }
    }
  }

  .option {
    margin-top: 20px;

    li {
      margin-top: 10px;

      a {
        padding: 10px 5px;
        color: #fff;
        border: 1px solid $mainColor;
      }
    }
  }

  .person-info {
    text-align: center;

    .card-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: auto;

      img {
        border-radius: 50%;
      }

      margin-bottom: 30px;
    }

    a {
      margin: 10px;
    }
  }

  .accordion-item {
    padding: 0;
    border: 0;

    .accordion-button {
      padding: 0;
      color: #000;
      padding: 10px 5px;
      font-size: 1rem;
    }

    .accordion-body {
      padding: 0 10px;

      li {
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  .accordion-button:not(.collapsed) {
    border: 0;
    box-shadow: none !important;
    background-color: transparent !important;
    color: #000;
    border-color: transparent !important;
  }

  .accordion-button:focus {
    border: 0;
    box-shadow: none !important;
    background-color: transparent !important;
    color: #000;
    border-color: transparent !important;
  }
}

.side-nav-open {
  right: 0;
}

/* ================================================================ */
.top-header {
  background-color: $mainColor;
  padding: 16px 0;
  text-align: left;
  position: relative;
  z-index: 3;

  li {
    margin-right: 15px;

    a {
      display: block;
    }
  }
}

/* ================================================================ */
.header {
  min-height: 100vh;
  height: auto;
  @extend %backgroundImage;
  position: relative;
  overflow: hidden;

  .img_after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &::after {
    content: "";
    @extend %overlay;
    background-image: linear-gradient(to right,
        rgba(#0039b5, 0.35),
        rgba(#001d5b, 0.5));
  }

  .header-content {
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;

    h5 {
      font-size: 5rem;
      font-weight: 800;
      color: $mainColor;
    }

    h6 {
      font-size: 1.6rem;
      color: #fff;
      font-weight: 800;
    }

    p {
      font-size: 0.9rem;
      color: #fff;
      margin-top: 10px;
    }

    .btn-style {
      border-radius: 24px;
      padding: 10px 40px;
      margin-top: 20px;
    }
  }
}

.inner-header {
  min-height: auto;
}

.social-media-right {
  position: fixed;
  top: 100px;
  height: auto;
  min-height: 600px;
  // background-color: #FFFFFF;
  z-index: 7;
  // border-top-right-radius: 50px;
  left: 0;
  min-width: 110px;

  ul {
    position: relative;
    transition: all 0.3s ease-in-out;
    left: -100%;
  }

  li {
    padding: 17px 20px;
    border-bottom: 3px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all 0.3s ease-in-out;

    i {
      color: $mainColor;
      font-size: 2rem;
    }

    &:first-child {
      border-top-right-radius: 50px;
    }

    &:hover {
      transform: translateX(20px);
    }
  }

  .arrow-click {
    padding: 17px 20px;
    border-bottom: 3px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    i {
      color: $mainColor;
      font-size: 2rem;
    }
  }
}

.custom-navbar {
  position: relative;
  z-index: 3;

  .logo {
    // padding: 18px 0 0 0;
  }

  nav {
    padding: 25px 0;
    padding-right: 60px;
    background-color: rgba(#fff, 0.9);
    border-bottom-right-radius: 50px;

    li.nav-item {
      margin-right: 35px;

      a.nav-link {
        color: #000;
        padding: 11px 5px;

        &:hover {
          color: #2857ec;
        }
      }

      a {
        cursor: pointer;
      }

      &:last-child {
        border: 1px solid #707070;
        border-radius: 21px;
        padding: 0px 30px;
        padding-right: 15px;
      }
    }
  }

  .submenuparent {
    position: relative;

    a {
      position: relative;

      i {
        font-size: 0.8rem;
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    .submenu {
      background-color: #fff;
      position: absolute;
      margin: 0;
      padding: 0;
      width: max-content;
      min-width: 150px;
      max-width: 150px;
      padding: 20px 10px;
      border-radius: 5px;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      transform: translateY(-10px);
      box-shadow: 7px 7px 10px rgba(#878787, .30) !important;
      right: 0;

      li {
        margin-bottom: 10px;

        a {
          color: #000;
          display: block;
          width: 100%;

          &:hover {
            background-color: $secondColor;
            color: #fff;
            border-radius: 5px;
            padding: 5px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .nav-item {
    &:hover {
      >.submenu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        z-index: 4;
      }
    }
  }
}

.top-submenu {
  background-image: linear-gradient(to bottom, rgba(#0039B5, 1), rgba(#001D5B, 1));
  padding: 160px 0 50px 0;
  position: absolute;
  width: 100%;
  z-index: 3;
  overflow: hidden;
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;

  .sub-after {
    position: absolute;
    top: 0;
    right: 0;
  }

  ul {
    position: relative;
    z-index: 4;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      width: 25%;
      margin-bottom: 15px;

      a {
        color: #BEDEFF;
        font-size: 1rem;

        &:hover {
          color: $mainColor;
        }
      }

      &.active {
        a {
          color: $mainColor;
        }
      }
    }
  }
}

.activebigmenu {
  opacity: 1;
  visibility: visible;
  transform: none;

}


.inner-custom-navbar {
  nav {
    box-shadow: 7px 7px 5px rgba(#878787, .30) !important;
  }
}

/* ================================================================ */
.company-slider-parent {
  .card-icon {
    text-align: center;
    min-height: 130px;
    display: flex;
    align-items: center;

    img {
      margin: auto;
    }
  }
}

/* ================================================================ */
.who-us {
  padding-top: 80px;
  position: relative;
  z-index: 5;

  .col-lg-6 {
    position: relative;
  }

  .wh-content {
    text-align: center;
    padding-top: 76px;

    h5 {
      font-size: 2rem;
      color: $mainColor;
      font-weight: 800;
    }

    h6 {
      color: $mainColor;
      font-weight: 800;
      font-size: 1.5rem;
      color: $secondColor;
    }

    p {
      font-size: 1.1rem;
      margin-top: 22px;
    }
  }

  .who-contetn2 {
    position: absolute;
    bottom: 30px;
    left: 200px;
    width: 600px !important;

    p {
      text-align: right;
    }
  }
}

/* ================================================================ */
.design-rolesas {
  padding-top: 150px;
  position: relative;
  z-index: 5;

  .design-rolesas-header {
    text-align: center;

    h5 {
      color: $mainColor;
      font-weight: 800;
      font-size: 1.5rem;
      color: $secondColor;
      position: relative;
      width: fit-content;
      margin: auto;
      margin-bottom: 30px;

      &::after {
        position: absolute;
        height: 100%;
        width: 5px;
        right: -10px;
        top: 0;
        background-color: $mainColor;
        content: "";
        border-radius: 0 22px 22px 0;
      }

      &::before {
        position: absolute;
        height: 100%;
        width: 5px;
        left: -10px;
        top: 0;
        background-color: $mainColor;
        content: "";
        border-radius: 22px 0 0;
      }
    }
  }
}

/* ================================================================ */
.who-release-wrapper {
  background-image: url("../images/relwaseimg.png");
  @extend %backgroundImage;
  border-top-right-radius: 250px;
  position: relative;
  padding-bottom: 50px;

  &::after {
    @extend %overlay;
    content: "";
    background-color: rgba(#ffffff, 0.77);
  }
}

.release-cards {
  margin-top: 80px;
  position: relative;
  z-index: 5;
}

.release-card {
  margin-top: 30px;
  // margin-bottom: 10px;
  width: 310px;
  position: relative;

  .card-number {
    width: 130px;
    height: 130px;
    background-image: linear-gradient(to right,
        rgba(#e19000, 1),
        rgba(#ffcc1e, 1));
    margin: auto;
    position: relative;
    bottom: -60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
    padding-top: 10px;
  }

  .img-after {
    position: absolute;
    top: 0;
    width: 50%;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
  }

  .card-body {
    padding: 70px 40px;
    padding-top: 90px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    padding-bottom: 120px;
    min-height: 400px;
    background-image: linear-gradient(to right,
        rgba(#ffffff, 1),
        rgba(#fdfdfd, 1),
        rgba(#f6f6f6, 1),
        rgba(#eaeaea, 1),
        rgba(#d9d9d9, 1));

    .card-title {
      font-size: 1rem;
      color: $mainColor;
    }

    .card-text {
      font-size: 0.9rem;
      color: #000;
      margin-top: 20px;
    }
  }
}

.release-card-2 {
  .card-number {
    background-image: linear-gradient(to right,
        rgba(#738494, 1),
        rgba(#afc0d0, 1)) !important;
  }

  .card-title {
    color: #738494 !important;
  }
}

.release-card-3 {
  .card-number {
    background-image: linear-gradient(to right,
        rgba(#b32079, 1),
        rgba(#ef5cb5, 1));
  }

  .card-title {
    color: #b32079 !important;
  }
}

.release-card-4 {
  .card-number {
    background-image: linear-gradient(to right,
        rgba(#673d89, 1),
        rgba(#a379c5, 1));
  }

  .card-title {
    color: #673d89 !important;
  }
}

.release-card-5 {
  .card-number {
    background-image: linear-gradient(to right,
        rgba(#229cb4, 1),
        rgba(#5ed8f0, 1));
  }

  .card-title {
    color: #229cb4 !important;
  }
}

.release-card-6 {
  .card-number {
    background-image: linear-gradient(to right,
        rgba(#043e70, 1),
        rgba(#007ce8, 1));
  }

  .card-title {
    color: #043e70 !important;
  }
}

/* ================================================================ */
.work-owner {
  background-image: url("../images/kiwihug-cqhXfrRHCPo-unsplash.png");
  @extend %backgroundImage;
  padding: 30px 0;

  .section-header {
    text-align: center;
    margin-bottom: 50px;

    h5 {
      font-weight: bold;
      font-size: 2.5rem;
      margin-bottom: 22px;
    }

    p {
      font-weight: 500;
      font-size: 1.2rem;
    }
  }

  .btn_more {
    text-align: center;
    margin-top: 50px;

    .btn {
      background-color: $mainColor;
      border: 1px solid $mainColor;
      color: #fff;
      padding: 19px 50px;
      font-size: 1.4rem;
      border-radius: 17px;

      &:hover {
        background-color: #fff;
        color: $mainColor;
      }
    }
  }
}

.works-tabs {
  .nav {
    justify-content: center;
  }

  .nav-item {
    .nav-link {
      background-color: #e2e2e2;
      border-radius: 9px;
      padding: 12px 35px;
      margin: 0 20px;
      color: #000;
      font-weight: bold;

      &.active {
        background-color: $mainColor;
        color: #fff;
      }
    }
  }
}

.work-card {
  margin-top: 60px;
  position: relative;
  display: block;

  .card-img {
    height: 431px;
    border-radius: 13px;

    img {
      border-radius: 13px;
    }
  }

  .shadow-title {
    @extend %overlay;
    position: absolute;
    top: unset !important;
    bottom: 0 !important;
    left: 0;
    content: "";
    background-image: linear-gradient(to bottom,
        rgba(#ffffff, 0),
        rgba(#0039b5, 1));
    height: 95px !important;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    display: flex;
    align-items: flex-end;
    padding: 22px;
    transition: all 0.3s ease-in-out;

    h5 {
      color: #fff;
      font-weight: bold;
    }
  }

  &:hover {
    .shadow-title {
      height: 100% !important;
    }
  }
}

.why-chhose-us {
  padding: 40px 0;
  background-image: url("../images/chooseus.png");
  @extend %backgroundImage;
  position: relative;

  &:after {
    @extend %overlay;
    content: "";
    background-color: #1f2034c6;
  }

  .title {
    position: relative;
    z-index: 3;

    h5 {
      font-size: 2.5rem;
      color: #fff;
    }
  }

  .content {
    position: relative;
    z-index: 3;

    h5,
    p {
      color: #fff;
    }

    h5 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
      margin: 10px 0 20px 0;
    }
  }
}

.get-qaleb {
  background-color: #0039b5;
  padding: 66px 0;
  text-align: center;
  position: relative;
  // overflow: hidden;
  margin-bottom: 80px;

  h5 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px;
    position: relative;
    z-index: 5;
  }

  p {
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    z-index: 5;
  }

  .q-img-1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 100%;

    img {
      height: 100%;
    }
  }

  .q-img-2 {
    position: absolute;
    bottom: -100px;
    right: 50px;
    width: 440px;

    img {
      width: 100%;
    }
  }
}

.qaleb-cards {
  .btn_more {
    text-align: center;
    margin-top: 50px;

    .btn {
      background-color: $mainColor;
      border: 1px solid $mainColor;
      color: #fff;
      padding: 19px 50px;
      font-size: 1.4rem;
      border-radius: 17px;

      &:hover {
        background-color: #fff;
        color: $mainColor;
      }
    }
  }
}

.q-card {
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.16);
  width: 386px;
  max-width: 100%;
  margin: auto;
  display: block;
  margin-bottom: 40px;

  .card_img {
    height: 330px;
  }

  .card-body {
    text-align: center;
    padding: 30px;

    h5 {
      font-size: 1.8rem;
      color: #000;
    }
  }
}

.faq {
  margin-top: 58px;
  background-image: url("../images/faqimg.png");
  @extend %backgroundImage;
  padding: 50px 0;
  position: relative;

  &::after {
    content: "";
    @extend %overlay;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,
        rgba(#ffffff, 0.5),
        rgba(#ff8f00, 1));
  }

  .section-header {
    text-align: center;
    position: relative;
    z-index: 4;

    h5 {
      font-weight: bold;
      font-size: 2.5rem;
    }

    p {
      font-size: 1.1rem;
    }
  }

  .accordion {
    position: relative;
    z-index: 4;
    margin-top: 40px;

    .accordion-item {
      background-color: transparent;
      border: 0;
      padding-right: 50px;
      margin-top: 30px;

      .accordion-header {
        background-color: transparent;
        border: 0;
        box-shadow: none !important;

        .accordion-button {
          background-color: transparent;
          font-weight: 700;
          border: 0;

          &:focus {
            outline: 0;
            box-shadow: none !important;
          }
        }
      }

      .accordion-button:not(.collapsed) {
        box-shadow: none !important;
      }

      .accordion-button:not(.collapsed) {
        color: #000;
      }

      .accordion-button::after {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        border-radius: 8px;
        border: 1px solid #707070;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %inilizeFonrtAwsome_Before_After;
        content: "\f067";
        background-image: none;
        position: absolute;
        right: -50px;
      }

      .accordion-button:not(.collapsed)::after {
        // width: 45px;
        // height: 45px;
        // border-radius: 5px;
        // border-radius: 8px;
        // border: 1px solid #707070;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // @extend %inilizeFonrtAwsome_Before_After;
        // content: "\f068";
        background-image: none;
      }

      .accordion-body {
        padding-top: 0;

        p {
          color: #393939;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.blogs {
  padding: 50px 0;

  .section-header {
    text-align: center;
    margin-bottom: 50px;

    h5 {
      font-weight: bold;
      font-size: 2.5rem;
      margin-bottom: 22px;
    }

    p {
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
}

.blog-card {
  background-color: #fafafa;
  border-radius: 26px;
  display: block;
  margin-bottom: 60px;

  .card-img {
    height: 375px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;

    img {
      border-top-left-radius: 26px;
      border-top-right-radius: 26px;
    }
  }

  .card-body {
    padding: 15px;

    h5 {
      margin-top: 20px;
      color: #000;
      margin-bottom: 20px;
      font-size: 1rem;
    }

    p {
      font-size: 0.9rem;
      color: #000;
    }
  }
}

.portfolio-card {
  .card-img {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;

    &::after {
      content: "";
      @extend %overlay;
      background-color: #0039B5;
      opacity: .5;
    }
  }

  .card-title {
    color: #fff;
    position: relative;
    z-index: 2;

    h5 {
      font-size: 1.8rem;
      font-weight: bold;
    }
  }

  .options {
    position: relative;
    z-index: 4;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all .3s ease-in-out;

    a {
      width: 55px;
      height: 55px;
      background-color: #FEE9B9;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 20px;

      img {
        width: 30px;
      }

      &:hover {
        background-color: #fff;
      }
    }
  }

  &:hover {
    .card-img {
      &::after {
        background-color: #FF8F00;
      }
    }

    .card-title {
      h5 {
        color: $secondColor;
      }
    }

    .options {
      transform: translate(0);
      visibility: visible;
      opacity: 1;
    }
  }
}


.web-section-page {
  .about-section {
    padding-top: 100px;

    .ab-content {
      h5 {
        color: #2857EC;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 20px;
      }

      p {
        font-size: 1rem;
      }

      li {
        position: relative;
        padding-right: 15px;
        margin-bottom: 10px;

        &::after {
          position: absolute;
          content: "";
          border: 2px solid $secondColor;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          display: block;
          top: 7px;
          right: 0;
        }
      }

      a.btn-style {
        border-radius: 30px;
        padding: 13px 12px;
        min-width: 200px;
        font-size: .9rem;
      }
    }
  }

  .our-services {
    background-image: url('../images/servicesbg.png');
    @extend %backgroundImage;
    padding: 40px 0;
    padding-bottom: 50px;

    .section-header {
      text-align: center;
      margin-bottom: 150px;

      h5,
      p {
        color: #fff;
      }

      h5 {
        font-size: 2.6rem;
        font-weight: bold;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .what-we-offer {
    padding: 54px 0;

    .section-header {
      text-align: center;

      h5 {
        font-size: 2.5rem;
        color: #2857EC;
      }
    }
  }


  .nahgna-tasmem {
    background-color: rgba(255, 143, 0, .18);
    padding: 12px 0;

    h5 {
      font-weight: bold;
      font-size: 2rem;
    }

    p {
      font-size: 1.1rem;
    }

    .btn-style {
      border-radius: 32px;
      min-width: 271px;
      padding: 12px;
    }
  }

  .know-whatwe-advanges {
    margin-top: 40px;

    h5 {
      color: #0039B5;
      font-size: 2.2rem;
      font-weight: bold;
      margin-bottom: 21px;
    }
  }

  .color-lilsta {
    li {
      padding-right: 0 !important;

      &::after {
        content: "";
        display: none !important;
      }

      p {
        color: #2857EC;
      }

      span {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-image: linear-gradient(to right, rgba(#C93E0F, 1), rgba(#8C155D, 1));
        margin-left: 15px;
      }
    }

    li:nth-child(2) {
      span {
        background-image: linear-gradient(to right, rgba(#04BAAF, 1), rgba(#088CC9, 1));
      }
    }

    li:nth-child(3) {
      span {
        background-image: linear-gradient(to right, rgba(#E3382C, 1), rgba(#FC1F79, 1));
      }
    }

    li:nth-child(4) {
      span {
        background-image: linear-gradient(to right, rgba(#E16F00, 1), rgba(#FF8500, 1));
      }
    }

    li:last-child {
      span {
        background-image: linear-gradient(to right, rgba(#00C307, 1), rgba(#037107, 1));
      }
    }
  }

  .latest-projects {
    background-image: url('../images/latestbg.png');
    @extend %backgroundImage;
    padding: 30px 0;
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgba(#2857EC, .2);
    }

    h5 {
      text-align: center;
      position: relative;
      z-index: 3;
      margin-bottom: 60px;
    }
  }

  .btn-style {
    min-width: 271px;
    border-radius: 32px;
    padding: 12px;
    position: relative;
    z-index: 3;
    margin: auto;
    margin-top: 50px;
    display: block;
    width: fit-content;
  }
}

.latest-projects-slider {
  position: relative;
  z-index: 3;

  .slick-arrow {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .17);
  }

  .slick-prev {
    left: 0;
    z-index: 3;

    &::before {
      @extend %inilizeFonrtAwsome_Before_After;
      content: "\f104";
      color: #000;
      font-size: 1.5rem;
    }
  }

  .slick-next {
    right: 0;
    z-index: 3;

    &::before {
      @extend %inilizeFonrtAwsome_Before_After;
      content: "\f105";
      color: #000;
      font-size: 1.5rem;
    }
  }

  .slider-item {
    margin: 0 17px;

    .card-img {
      height: 384px;
      border-radius: 15px;

      img {
        border-radius: 15px;
      }
    }
  }
}

.serv-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 90px;

  // overflow: hidden;
  .serv-rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    // height: 100%;
    transform: translate(-50%, -50%);
  }

  .serv-number {
    position: absolute;
    top: -60px;
    left: 25px;
  }

  .serv-star {
    position: absolute;
    bottom: -60px;
    left: 45px;
  }

  .card-icon {
    position: relative;
    z-index: 3;

    img {
      height: 50px;
    }
  }

  .card-title {
    margin-top: 15px;
    position: relative;
    z-index: 3;

    h5 {
      color: #000;
      font-size: 1rem;
    }
  }
}




footer {
  background-color: #02284a;
  padding: 22px 0;
  overflow: hidden;

  .footer-logo {
    img.logo {
      width: 200px;
      margin-bottom: 19px;
    }

    p {
      font-size: 0.9rem;
      color: #fff;
    }

    ul {
      margin-bottom: 15px;

      li {
        margin-left: 10px;

        img {
          width: 30px;
        }
      }
    }
  }

  .footer-links {
    padding-top: 15px;

    h5 {
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
    }

    li {
      margin-bottom: 10px;

      a {
        color: #fff;
      }
    }
  }

  .footer-pay {
    h5 {
      color: #fff;
      text-align: center;
      margin-bottom: 15px;
    }

    img.comp {
      position: relative;
      left: -200px;
      width: 950px !important;
    }
  }
}

/* ================================================================ */
@media (max-width: 1300px) {
  .custom-navbar nav li.nav-item {
    margin-right: 25px;
  }
}

@media(max-width: 1220px) {

}

@media (max-width: 1024px) {
  html {
    font-size: 13px;
  }

  .who-us .who-contetn2 {
    position: unset;
    width: auto !important;
  }

  .works-tabs .nav {
    .nav-item {
      margin-bottom: 15px;
    }
  }

  .get-qaleb .q-img-1 img,
  .get-qaleb .q-img-2 img {
    opacity: 0.4;
  }
}

@media (max-width: 991px) {

  .order2-tablet {
    order: 2;
  }

  .custom-navbar {
    nav {
      display: none;
    }
  }

  .menu_icon {
    display: flex;
  }

  .social-media-right {
    min-width: 70px;

    li {
      padding: 14px 10px;

      img {
        width: 40px;
      }
    }
  }

  .social-media-right .arrow-click {
    padding: 6px 10px;

    i {
      font-size: 1.6rem;
      margin-top: 5px;
    }
  }

  .who-us {
    .who-img {
      width: 50%;
      margin: auto;
    }
  }

  .blog-card .card-img {
    height: 275px;
  }

  footer .footer-pay img.comp {
    left: 0;
  }


  .serv-card {
    margin-bottom: 250px;
  }
}

@media(max-width:600px) {
  html {
    font-size: 14px;
  }

  .get-qaleb {
    overflow: hidden;
  }

  .release-card {
    margin: auto;
  }

  .social-media-right .arrow-click {
    // position: absolute;
    // bottom: 0;
    left: 0;
    width: 100%;
  }

  .header .header-content h5 {
    font-size: 3rem;
  }

  .web-section-page .about-section .ab-content p {
    margin-top: 20px;
  }
}

/* ================================================================ */

/* Shared styles  */
%backgroundImage {
  background-position: center;
  background-size: cover;
}

%inilizeFonrtAwsome_Before_After {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  transition: all 0.3s ease-in-out;
}

%imglikebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%imgParent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%btnColor {
  padding: 10px 40px;
  display: block;
  width: fit-content;
  margin-left: auto;
  border-radius: 5px;
  color: #fff;
  font-family: jannab;
}